.DashboardLayout {
  height: 100vh;
  display: -ms-flex;
	display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.Dashboard__wrap {
  height: calc(100% - 40px);
  width: 100%;
  display: flex;
  flex: 1;
}

.DashboardMain { 
  width: 100%;
  /* background-color: bisque; */
  height: 100%;
}

.DashboardMain__inner {
  display: -ms-flex;
	display: -webkit-flex;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.DashboardMain__inner__left {
  width: 100%;
  flex: 0 0 1;
}

.DashboardMain__inner__right {

}