.Header {
  height: auto; 
  background-color: #fff;
  border-bottom: 1px solid #e5ecf1;
  width: 100%;

  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #e5ecf1;
   /* width: 100%; */
  display: flex;
  min-height: 40px;
  align-items: center; 

  justify-content: space-between;
}

.HeaderLeft {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.HeaderLeft__sidebarToggle {
  padding-left: 10px;
}
.HeaderLeft__sidebarToggle__icon {
  opacity: 8;
}
@media only screen and (min-width: 600px) {
  .HeaderLeft__sidebarToggle {
    display: none;
  }
}