.Navigation {
  height: 100%;
  background-color: #f5f7f9;
  border-right: 1px solid #e5ecf1;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 80%;
  z-index: 100;
}
.visible {
  display: block;
}

@media screen and (min-width: 600px) {
  .Navigation {
    position: relative;
    width: 200px;
    display: block;
  } 
}

.Navigation__Links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navigation__Links__li a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #333;
}

.Navigation__Links__li a:hover {
  background-color: #ddd;
}
.Navigation__Links__li a.active {
  background-color: #dfdfdf;
}

