.Navigation {
  height: 100%;
  background-color: #f5f7f9;
  width: 200px;
  border-right: 1px solid #e5ecf1;
}

.Navigation__Links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navigation__Links__li a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #333;
}

.Navigation__Links__li a:hover {
  background-color: #ddd;
}
.Navigation__Links__li a.active {
  background-color: #dfdfdf;
}